TD.newsbutton {
	FONT-SIZE: 12px; BACKGROUND: #555555; WIDTH: 50px; HEIGHT: 17px; TEXT-ALIGN: center
}
TD.newslinkleft {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: url(http://img.dpreview.com/images/rounded_leftsider23.gif) #555555; WIDTH: 75px; HEIGHT: 23px; TEXT-ALIGN: right
}
TD.newslink {
	FONT-SIZE: 12px; BACKGROUND: #333333; WIDTH: 95px; HEIGHT: 23px; TEXT-ALIGN: center
}
TD.minihead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_newsbox_01.gif); VERTICAL-ALIGN: top; HEIGHT: 21px; TEXT-ALIGN: center
}
TD.minilist {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_newsbox_02.gif) #333333; VERTICAL-ALIGN: top
}
TD.minifooter {
	BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_newsbox_03.gif); HEIGHT: 25px
}
TD.miniempty {
	BACKGROUND: #333333
}
TD.archiveyear {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-TOP: 7px
}
TD.archivemonth {
	FONT-SIZE: 11px
}
.newsdate {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #aac4ff
}
.newsheadline {
	PADDING-LEFT: 10px; FONT-WEIGHT: bold; FONT-SIZE: 14px; PADDING-TOP: 16px
}
.newsbodytext {
	PADDING-RIGHT: 8px; PADDING-LEFT: 10px; FONT-SIZE: 12px
}
.newsp {
	PADDING-BOTTOM: 2px; PADDING-TOP: 5px
}
TD.newsboxtop {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_headlinebox_01.gif); VERTICAL-ALIGN: top; WIDTH: 370px; HEIGHT: 32px
}
TD.newsbody {
	BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_headlinebox_02.gif) #333333; WIDTH: 370px
}
TD.newsfooter {
	BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_headlinebox_03.gif); WIDTH: 370px; HEIGHT: 25px
}
