BODY {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Arial, Helv
}
H1 {
	FONT-SIZE: 24px; COLOR: #aac4ff; FONT-FAMILY: Tahoma, Arial, Helv
}
H2 {
	FONT-SIZE: 20px; COLOR: #aac4ff; FONT-FAMILY: Tahoma, Arial, Helv
}
H3 {
	FONT-SIZE: 18px; COLOR: #aac4ff; FONT-FAMILY: Tahoma, Arial, Helv
}
H4 {
	FONT-SIZE: 14px; COLOR: #aac4ff
}
TD {
	FONT-SIZE: 12px; FONT-FAMILY: Tahoma, Arial, Helv
}
LABEL {
	CURSOR: hand
}
A {
	TEXT-DECORATION: none
}
A:hover {
	COLOR: #f4ff1a; TEXT-DECORATION: underline
}
A:visited {
	COLOR: #cea835
}
INPUT {
	FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, Arial, Helv
}
TEXTAREA {
	FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, Arial, Helv
}
SELECT {
	FONT-SIZE: 9pt; FONT-FAMILY: Tahoma, Arial, Helv
}
SELECT.small {
	FONT-SIZE: 8pt; FONT-FAMILY: Tahoma, Arial, Helv
}
.justify {
	TEXT-ALIGN: justify
}
.centerbanner {
	FONT-WEIGHT: bold; COLOR: #33ee33; TEXT-ALIGN: center
}
.visitorcounter {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 5px; PADDING-TOP: 5px; TEXT-ALIGN: center
}
.footer {
	FONT-SIZE: 6pt; TEXT-ALIGN: center
}
.title {
	COLOR: #aaffaa; TEXT-ALIGN: center
}
.small10 {
	FONT-SIZE: 10px
}
.small11 {
	FONT-SIZE: 11px
}
.small {
	FONT-SIZE: 12px
}
.small_j {
	FONT-SIZE: 12px; TEXT-ALIGN: justify
}
.tdcontentsm {
	FONT-SIZE: 11px; BACKGROUND: #555555
}
.tdlabelsimpsm {
	FONT-SIZE: 11px; BACKGROUND: #333333
}
.tdlabelsm {
	FONT-SIZE: 11px; BACKGROUND: #333333; VERTICAL-ALIGN: top; PADDING-TOP: 1px
}
.tdcontent {
	BACKGROUND: #555555
}
.tdlabelsimp {
	BACKGROUND: #333333
}
.tdlabel {
	BACKGROUND: #333333; VERTICAL-ALIGN: top; PADDING-TOP: 1px
}
.tdinputlabel {
	PADDING-RIGHT: 6px; PADDING-LEFT: 12px; FONT-WEIGHT: bold; FONT-SIZE: 12px; BACKGROUND: #555555; TEXT-ALIGN: right
}
.tdinputfield {
	BACKGROUND: #333333
}
.tdnewsnav {
	FONT-SIZE: 11px; BACKGROUND: #333333; WIDTH: 230px
}
.tdlabelproduct {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; BACKGROUND: #333333; TEXT-ALIGN: center
}
.tdlabelfield {
	FONT-SIZE: 12px; BACKGROUND: #333333
}
.halfgray {
	BACKGROUND: #424242
}
.results {
	BACKGROUND: #ffff55
}
.newindicate {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff3333
}
.hotindicate {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #ff9225
}
.new2indicate {
	FONT-WEIGHT: bold; FONT-SIZE: 10px; COLOR: #11fd11
}
.inputtext {
	FONT-SIZE: 9pt
}
.inputbutton {
	FONT-SIZE: 9pt
}
.menuspan {
	CURSOR: hand; POSITION: absolute
}
.menuhead {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; PADDING-BOTTOM: 2px; WIDTH: 82px; COLOR: #dddddd; PADDING-TOP: 2px; FONT-FAMILY: Tahoma
}
.menuhead_open {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; Z-INDEX: 1; BACKGROUND: #555555; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; WIDTH: 82px; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Tahoma
}
.menuhead_opensub {
	BORDER-TOP: #000000 1px solid; PADDING-LEFT: 3px; FONT-WEIGHT: bold; FONT-SIZE: 11px; Z-INDEX: 1; BACKGROUND: #555555; PADDING-BOTTOM: 1px; BORDER-LEFT: #000000 1px solid; WIDTH: 82px; PADDING-TOP: 1px; BORDER-BOTTOM: #000000 1px solid; FONT-FAMILY: Tahoma
}
.menuhead_click {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 2px; WIDTH: 82px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: Tahoma
}
.menuhead_clicksub {
	PADDING-LEFT: 4px; FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 2px; WIDTH: 82px; COLOR: #000000; PADDING-TOP: 2px; FONT-FAMILY: Tahoma
}
.menu {
	BORDER-RIGHT: #000000 1px solid; PADDING-RIGHT: 2px; BORDER-TOP: #000000 1px solid; PADDING-LEFT: 2px; Z-INDEX: -1; BACKGROUND: #555555; LEFT: 89px; VISIBILITY: hidden; PADDING-BOTTOM: 2px; BORDER-LEFT: #000000 1px solid; PADDING-TOP: 2px; BORDER-BOTTOM: #000000 1px solid; POSITION: absolute
}
.menuopt {
	BORDER-RIGHT: #555555 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #555555 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; BACKGROUND: #555555; PADDING-BOTTOM: 1px; BORDER-LEFT: #555555 1px solid; PADDING-TOP: 1px; BORDER-BOTTOM: #555555 1px solid; FONT-FAMILY: Tahoma
}
.menuopt_over {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #bbbbbb 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; BACKGROUND: #999999; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #333333 1px solid; FONT-FAMILY: Tahoma
}
.menuopt_click {
	BORDER-RIGHT: #999999 1px solid; PADDING-RIGHT: 1px; BORDER-TOP: #999999 1px solid; PADDING-LEFT: 1px; FONT-SIZE: 11px; BACKGROUND: #eeeeee; PADDING-BOTTOM: 1px; BORDER-LEFT: #999999 1px solid; COLOR: #000000; PADDING-TOP: 1px; BORDER-BOTTOM: #999999 1px solid; FONT-FAMILY: Tahoma
}
TD.bottomboxhead {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_bottombox_01.gif); VERTICAL-ALIGN: top; HEIGHT: 21px; TEXT-ALIGN: center
}
TD.bottomboxlist {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_bottombox_02.gif) #333333; VERTICAL-ALIGN: top
}
TD.bottomboxfooter {
	BACKGROUND: url(http://img.dpreview.com/images/boxbackground/new3d_bottombox_03.gif); HEIGHT: 25px
}
A.white {
	COLOR: #eeeeee; TEXT-DECORATION: none
}
A.white:hover {
	COLOR: #f4ff1a; TEXT-DECORATION: none
}
A.nobg:hover {
	BACKGROUND: none transparent scroll repeat 0% 0%; TEXT-DECORATION: none
}
A.hover:hover {
	BACKGROUND: #555555; COLOR: #ffff66; TEXT-DECORATION: none
}
.tdcontentsmhigh {
	FONT-SIZE: 11px; BACKGROUND: #557755
}
.tdcontentsmlow {
	FONT-SIZE: 11px; BACKGROUND: #775555
}
